.check-in-out .col-sm-6 {
    padding-left: 0;
    float: left;
}
.b-chech-in-out .col-sm-6 {
    padding-left: 0;
    float: left;
}
.pdf-order .col-sm-4 > .col-sm-4 {
    padding-left: 0;
    float: left;
}
.invoice-item .col-sm-6 {
    padding-left: 0;
    float: left;
}

div.dataTables_wrapper {
        max-width: 1170px;
        margin: 0 auto;
        width:100%;
    }
.booking-a-room form .col-sm-4, .booking-a-log form .col-sm-4  {
    margin-bottom: 20px;
}
label { display: inline-block; margin-bottom: .3rem !important; font-weight: bold; }
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content !important;
    border: 1px solid rgba(0,0,0,.15);
    border-image: initial !important;
}
 legend { width: initial !important; color: rgba(0, 0, 0, 0.39) !important; }

 [type=submit] { cursor: pointer; }

 .booking-a-room [type=submit] {
    cursor: pointer;
    margin-top: 40px;
}
.operations .col-sm-12:first-of-type { margin-bottom: 10px !important; }
form.operations { margin-bottom: 13px; }
.btn-primary:hover { background-color: #db4437 !important; border-color: #db4437 !important; }
.btn-primary:focus { box-shadow: none; }
.btn-primary { background-color: rgba(219, 68, 55, 0.95) !important; border-color: rgba(219, 68, 55, 0.95) !important }
hr.style14 { border-top: 1px dotted #8c8b8b; }
.form-control:focus { border: none; border-bottom: 2px solid #3c348d; background: rgba(60, 52, 141, 0.08) !important; }

/* Start By Me*/

.table-scrollable
  {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px 0 !important;
  }
  span.error{color: #a94442;}
.has-error span.select2-selection{border: 1px solid #a94442;}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #a94442; }
/* line 21, ../../../../../lib/gems/2.1.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_forms.scss */
.has-error .form-control {
  border-color: #a94442;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  /* line 24, ../../../../../lib/gems/2.1.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_forms.scss */
  .has-error .form-control:focus {
    border-color: #843534;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }
/* line 31, ../../../../../lib/gems/2.1.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_forms.scss */
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede; }
/* line 37, ../../../../../lib/gems/2.1.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins/_forms.scss */
.has-error .form-control-feedback {
  color: #a94442; }
  .tip-top
{
    font-size: 12px;
    font-weight: bold;
    cursor: help;
}

/* End By Me*/

.all-feed-back thead, .room-status thead {
    background: #3f3f3f !important;
}
.all-feed-back .table , .room-status .table  {
    border: 1px solid #ddd;
}
.room-status tr th, .all-feed-back tr th {
    color: #fff;
}
.room-status tbody > tr:nth-child(odd), .all-feed-back tbody > tr:nth-child(odd) {
    background: #fff;
}
.room-status tbody > tr:nth-child(even), .all-feed-back tbody > tr:nth-child(even) {
    background: rgb(227, 224, 255);
}

#myCarousel { margin-top: 63px !important; }
.carousel-caption { bottom: 7rem; }
i.fa.fa-user {
    position: relative;
    left: 50%;
    margin-left: -6px;
    top: -10px;
}
i.fa.fa-user:before {
    content: url(../images/user-icon.png);
    position: absolute;
    z-index: 100000;
    /* left: -50px; */
    /* top: 10px; */
}
i.fa.fa-key{
    position: relative;
    left: 50%;
    margin-left: -8px;
    top: -7px;
}
i.fa.fa-key:before {
    content: url(../images/password-icon.png);
    position: absolute;
    z-index: 100000;
    /* left: -50px; */
    /* top: 10px; */
}

/* Start By Me*/

table thead{background: #3f3f3f !important;}
table thead th,table thead th a{color: #fff;border: none !important}
table tbody > tr:nth-child(odd) {
    background: #fff !important;
}
table tbody > tr:nth-child(even) {
    background: rgb(227, 224, 255);
}
/* End By Me*/